@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@layer components {
    /* Youtube Player  -> For here*/ 
    #youtubePlayer {
        width: 300%;
        height: 100rem;
        margin-top: -20rem;
        margin-left: -40rem;
        pointer-events: none !important;
        cursor: pointer !important;
    }
    #youtubePlayerItems {
        pointer-events: none !important;
        cursor: pointer !important;
    }
    #youtubePlayerModal{
        pointer-events: none !important;
        cursor: pointer !important;
        width: 150%;
        margin-top: -20rem;
        margin-left: -10rem;
        height: 70rem;

    }
    #youtubePlayer:hover, #youtubePlayerItems:hover, #youtubePlayerModal:hover {
        cursor: pointer !important;
    }

    #youtubePlayerPhone{
        width: 150%;
        height: 35rem;
        margin-left: -25%;
        margin-top: -10rem;
        pointer-events: none !important;
    }

    /* 400size breakpoint styles */
    @media (min-width: 400px) {
        #youtubePlayerPhone{
            width: 200%;
            height: 40rem;
            margin-left: -50%;
        }
    }

    /* 801size breakpoint styles */
    @media (min-width: 801px) {
        #youtubePlayer {
            margin-left: -50rem;
        }
    }
    
    /* 951size breakpoint styles */
    @media (min-width: 951px) {
        #youtubePlayer {
            height: 170rem;
            margin-top: -55rem;
            margin-left: -60rem;
        }

        #youtubePlayerModal {
            height: 60rem;
            width: 200%;
            margin-top: -10rem;
            margin-left: -30rem;
        }
    }

    /* 2xl breakpoint styles */
    @media (min-width: 1536px) {
        #youtubePlayer {
            width: 170%;
            height: 170rem;
            margin-left: -45rem;
        }
    }
}