@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@layer components {
    /* Youtube Player  -> For here*/ 
    #youtubePlayer {
        width: 300%;
        height: 100rem;
        margin-top: -20rem;
        margin-left: -40rem;
        pointer-events: none;
    }

    /* Youtubel Player -> When hovering items */

    /* 951size breakpoint styles */
    @media (min-width: 801px) {
        #youtubePlayer {
            margin-left: -50rem;
        }
    }
    
    /* 951size breakpoint styles */
    @media (min-width: 951px) {
        #youtubePlayer {
            height: 170rem;
            margin-top: -55rem;
            margin-left: -60rem;
        }
    }

    /* 2xl breakpoint styles */
    @media (min-width: 1536px) {
        #youtubePlayer {
            width: 170%;
            height: 170rem;
            margin-left: -45rem;
        }
    }
}