@tailwind base;
@tailwind components;
@tailwind utilities;

/* Netflix Font */
@font-face { font-family: netflix-regular; src: url("../assets/font/NetflixSans-Regular.otf"); } 


/* Base CSS */
* {
    font-size: 16px;
}
body {
    font-family: netflix-regular;
    margin: 0 auto;
    background-color: #181414;
    max-width: 3000px;
}
html {
    scroll-behavior: smooth;
}
  
/* Hide eye icon on input in MS Edge */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}
/* Hide arrow in input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
img,
video,
svg,
picture {
    display: block;
    max-width: 100%;
}
button:hover {
    cursor: pointer;
}

/* Swiper Carousel Buttton Configuration */
.swiper-button-prev,
.swiper-button-next{
    opacity: 0 !important;
    z-index: -99 !important;
    display: none !important;
    pointer-events: none !important;
}

/* Custom CSS */
@layer components {
    /* Disable Highlighting */
    .disable-highlight {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    /* Font Collections */
    .netflix-font-regular {
        font-family: netflix-regular;
    }
    .movie-title-font-small {
        font-family: 'Bangers', system-ui;
    }
    .movie-title-font-large {
        font-family: 'Anton', sans-serif;
    }
    
    /* Transition Duration */
    .custom-transition-duration-3s {
        transition: .3s;
    }
    .custom-transition-duration-10s {
        transition: 1s;
    }
    
    /* Custom Background for Navbar */
    .navbar-glassmorphim {
        background: rgba( 74, 74, 74, 0.25 );
        box-shadow: 0 8px 32px 0 rgba(10, 12, 36, 0.37);
        backdrop-filter: blur( 8.5px );
        -webkit-backdrop-filter: blur( 8.5px );
    }

    /* Custom Shadows */
    .image-inline-shadow {
        border-image: fill 0 linear-gradient(#0003, #000);
    }
    .shadowing {
        background-image: linear-gradient(0, transparent, #333333);
    }
    .button-shadow {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .shadowing-hero {
        margin-top: -7rem;
        width: 100%;
        height: 12.5rem;
        position: relative;
        background-image: linear-gradient(180deg, transparent, #181414, #181414);
    }
    .item-shadow {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    /* Custom Color */
    .custom-transparent-bg {
        background-color: rgba(51,51,51,.6);
    }

    /* Custom Skeleton */
    .showSkeleton{
        transition: .2s;
        background: 
        linear-gradient(0.25turn, transparent, #1a1a1a, transparent),
        linear-gradient(#222222, #222222),
        radial-gradient(38px circle at 19px 19px, #222222 50%, transparent 51%),
        linear-gradient(#222222, #222222);  
        background-repeat: no-repeat;
        background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px; 
        background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
        animation: loading 1.5s infinite;
    }
    @keyframes loading {  
        to {
          background-position: 315px 0, 0 0, 0 190px, 50px 195px;
        }
    }

    /* Swiper CSS */
    .eachSwiper{
        min-height: 10rem !important;
        width: 17.5rem !important;
    }
    .swiperSlide {
        width: 6.5rem !important;
    }
    .swiperSlideSmall {
        width: 6.5rem !important;
    }
    .swiperSlideSmall2 {
        width: 9.8rem !important;
    }
    /* 951size breakpoint styles */
    @media (min-width: 640px) {
        .swiperSlide {
            width: 18rem !important;
        }
        .swiperSlideSmall {
            width: 9.5rem !important;
        }
        .swiperSlideSmall2 {
            width: 17.7rem !important;
        }
        .swiperSlideHover {
            width: 25rem !important;
        }
    }
}
